.project-card {
  width: 340px;
  height: 240px;

  border-radius: 9px;
  /* box-shadow: 9px 9px 18px #e3e3e3, -9px -9px 18px #ffffff; */
  border: 1px solid #30363d;

  border-radius: 6px;
  margin-bottom: 60px;
}

.project-img {
  width: 340px;
  height: 100px;
  border-radius: 6px 6px 0 0;
}

.project-title {
  margin: 0;
  padding: 0 10px;
  font-weight: 400;
  font-size: 20px;
}

.project-link a {
  color: #58a6ff;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 50px;
  font-weight: 500;
  transition: 0.25s ease-in-out;
}
.project-link a:hover {
  text-decoration: underline;
}
.project-desc {
  font-size: 14px;
  color: #8b949e;
  text-align: justify;
  padding: 0 10px;
  margin-top: 6px;
}
