body {
  font-family: "Poppins", sans-serif;
  /* background-color: #f8f8f8;
  color: #121212; */
  color: #c9d1d9;
  background-color: #0d1117;
}
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #0d1117;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #242c37;
}
